* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 95%);
}
.container {
  display: flex;
  justify-content: center;
  color: white;
  height: 700px;
  padding: 100px;
}
h1 {
  font-family: Big Shoulders Display;
}
.column {
  float: left;
  width: 500px;
}
img {
  margin-top: 50px;
  margin-bottom: 30px;
}
.container-sedans {
  background-color: hsl(31, 77%, 52%);
  width: 300px;
  padding-left: 30px;
  border-radius: 10px 0 0 10px;
}
.container-suv {
  background-color: hsl(184, 100%, 22%);
  width: 300px;
  padding-left: 30px;
}
.container-luxury {
  background-color: hsl(179, 100%, 13%);
  width: 300px;
  padding-left: 30px;
  border-radius: 0 10px 10px 0;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 16px;
  font-family: Lexend Deca;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.7;
  inline-size: 220px;
  overflow-wrap: break-word;
}
button {
  width: 150px;
  height: 45px;
  border-radius: 25px;
  background-color: hsl(0, 0%, 95%);
  color: hsl(184, 100%, 22%);
  font-weight: bold;
  font-family: Lexend Deca;
  margin-top: 40px;
  border: none;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .container-luxury {
    border-radius: 0 10px 10px 0;
  }
  button {
    margin-bottom: 100px;
  }
}
